html{
    /* height: 100%; */
    /* width: auto; */
    /* overflow-y: scroll; */
}

body{
    /* display: flex; */
    /* max-height: 100vmin; */
    /* width: 100%; */
    /* min-width: inherit; */

    /* display: flex; */
    /* flex-direction: column; */
    /* border: 3px black solid; */
    /* overflow-y: scroll; */
}

.heroContainer{
    position: relative;
    /* border: red solid 2px; */
    display: flex;
    /* max-width: 100%; */
    /* background-image: url("landing.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; */
    
}

.heroContainer > img {
    height: 100%;
    width:100%;
    /* border: 2px solid black; */
}

.hero{
    top: 13px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
    width: 60%;

    display: flex;
    flex-direction: row;  

    justify-content: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-self: start;

    /* height: 5%; */
    /* width: 5%; */
    justify-self: center;
    align-self: center;
}

#logo > img {
    width: 4em;
    height: 4em;
}

#nav{
    display: flex;

    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    color: white;
    font-size: .7em;
    letter-spacing: 4px;
    line-height: 1.2em;
    height: 5%;
    width: 30em;
    /* margin-left: -5em; */

    gap: 4em;

    align-self: center;
    justify-self: flex-end;

    justify-content: end;

    /* border: yellow solid 1px; */
}

#navItem{
    border-bottom: white solid 1px;
    height: 100%;
}

@media only screen and (max-width:768px){

    .hero{
        top:2vw;
        width: 65%;
    }

    #logo > img{
        width: 5vw;
        height: 5vw;
    }

    #nav{
        font-size: 1.6vw;
        letter-spacing: .3vw;
        line-height: 2.6vw;
        gap: 5vw;
    }

    #navItem{
        border-bottom: solid white .04vw;
    }

}


/* end of first page */
/* start of sticky nav */
.stickyNav{
    display: flex;
    color: #414f6b;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px cyan solid; */
    padding: 1em 0em;
    
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.navWrapper{
    display: flex;
    width: 60%;
    /* border: yellowgreen 1px solid; */
    justify-content: center;
    justify-content: space-between;
}

.logoWrapper{
    display: flex;
    flex-direction: row;
    /* border: 2px pink solid; */
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.logoIcon > img{
    width: 4em;
    height: 4em;
    /* border: red solid 1px; */
}

.logoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: stretch; */
    /* border: 1px rgb(82, 82, 8) solid; */
    padding-top: .2em;
}

#upperText{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.9em;
    letter-spacing: .05em;
    color: #4d4d4d;
    font-family: 'Bebas Neue';
    justify-content: flex-end;
    line-height: .8em;

}

#lowerText{
    text-align: center;
    color: #414f6b;
    font-family: 'Bebas Neue';
    font-size: 2.3em;
    line-height: .8em;
    letter-spacing: .01em;

}

#nav2{
    color: #414f6b;
    font-family: 'Lato', sans-serif;

    display: flex;
    /* border: 1px solid salmon; */

    font-size: .7em;
    letter-spacing: 4px;
    line-height: 1.2em;

    height: 5%;
    width: 25em;

    gap: 4em;

    align-self: center;
    justify-self: flex-end;

    justify-content: end;
}


#navItem2{
    /* flex: 1; */
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    /* font-size: 12px; */
    border-bottom: 1px solid #414f6b;
    /* align-content: baseline; */
}

@media screen and (max-width:768px){

    .stickyNav{
        padding:2vw 0vw;
    }

    .navWrapper{
        width: 70%;
    }
    
    .logoWrapper{
        display: flex;
        flex-direction: row;
        /* border: 2px pink solid; */
        justify-content: center;
        align-items: center;
        gap: 1vw;
    }

    .logoIcon > img{
        width: 5vw;
        height: 5vw;
        /* border: red solid 1px; */
    }

    .logoText{
        padding-top: 1vw;
    }

    #upperText{
        font-size: 2.5vw;
        letter-spacing: .1vw;
    }

    #lowerText{
        font-size: 3vw;
    }

    #nav2{
        font-size: 1.6vw;
        letter-spacing: .3vw;
        line-height: 2.6vw;
        gap: 2.5vw;
    }

    #navItem2{
        border-bottom: solid #414f6b .04vw;
    }
}

/* end of sticky nav */
/* start of history container */
.historyContainer{
    /* max-width: 100%; */
    border: 1px solid brown;
    position: relative;
    display: flex;
    /* flex-direction: row; */

}

.historyContainer > img{
    height: 100%;
    width: 100%;
 }

.history{
    top: 2em;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    position:absolute;

    /* align-self: center;
    justify-self: center; */
    /* border: yellow solid 1px; */
    width: 59%;
    height: 80%;
    /* margin-left: 17em; */
    /* height: 60%; */

}

.historyText{
    display: flex;
    flex-direction: row;
    /* border: red 1px solid; */
    height: fit-content;
    margin-top: 3em;
    /* transform: scaleY(1.1); */

}

#sectionNumber{
    color: #414f6b;
    opacity: 50%;
    font-size: 9em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* transform: scaleY(1.1); */
    letter-spacing: -.02em;
    align-self: flex-end;
}


#sectionTitle{
    align-self: flex-end;
    /* justify-self: center; */
    border: yellow solid 1px;
    color: #414f6b;
    font-size: 2em;
    /* line-height: 3em; */
    font-family: 'Oswald', sans-serif;
    /* justify-self: end; */
    margin-left: -.85em;
    margin-bottom: 1.1em;
}

.sectionText{
    /* border: 2px pink solid; */
    /* justify-self: center; */
    align-self: center;
    width: 85%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: black;
    line-height: 1.5em;
    /* margin-left: -2em; */
    /* letter-spacing: -.05em; */
}

@media screen and (max-width:768px){

    .history{
        top: 0;
        width: 59%;
        /* height: 40%; */
        margin-top: -5vmin;
    }

    #sectionNumber{
        font-size: 7vw;
        letter-spacing: -.02em;
        align-self: flex-end;
    }
    
    #sectionTitle{
        font-size: 1.5vw;

        margin-left: -.9em;
        margin-bottom: 1.8vw;
    
    }
    
    .sectionText{
        width: 85%;
        font-size: 1.2vw;

    }
}

/* end of history section */

/* start of carousel */
.carouselContainer{
    display: flex;
    position:relative;
    flex-direction: column;
    /* border: 2px red solid; */
}

.carouselWrapper{
    top:2em;
    left: 0;
    right: 0;

    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px green solid;
    align-items: center;
    justify-items: center;
}

.carousel{
    display: flex;
    gap: 1em;
    max-width: 100;
}

.thumbnail{

}

.dots{
    border: yellow solid 2px;
}
.dot{
    cursor: pointer;
    height: .5em;
    width: .5em;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;    
    opacity: 20%;
}

.active, .dot:hover{
    opacity: 100%;
}
/* end of carousel */

/* start of team section */
.teamContainer{
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
}

.climbText{
    align-self: center;
    display: flex;
    flex-direction: row;
    /* border: cyan solid 2px; */
    width: 55%;
    /* padding-bottom: 1em; */
    /* align-items: center; */
    padding-top: .5em;
    padding-bottom: 1.5em; 
}

.sectionNumber2{
    color: #414f6b;
    opacity: 50%;
    font-size: 9em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* transform: scaleY(1.1); */
    letter-spacing: -.02em;
    align-self: flex-end;
}

.sectionTitle2{
    align-self: flex-end;
    /* justify-self: center; */
    /* border: yellow solid 1px; */
    color: #414f6b;
    font-size: 2em;
    /* line-height: 3em; */
    font-family: 'Oswald', sans-serif;
    /* justify-self: end; */
    margin-left: -.9em;
    margin-bottom: 1em;
}

.sectionText2{
    margin-left: 2em;
    /* border: green solid 2px; */
    width: 65%;
    line-height: 1.7em;
    letter-spacing: .02em;
    font-size: 1em;
    /* justify-self: center; */
    align-self: center;
    font-family: 'Lato', sans-serif;
}

.tabs{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #414f6b;
    width: 100%;
    /* padding: .5em 0; */

}

.tabsContainer{
    width: 60%;
    align-self: center;
    display: flex;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    /* gap: 1em; */
    height: 100%;
    /* border: pink 2px solid; */
}

.tab1{
    color: #b0b4be;
    border:green 2px solid;
    height: 100%;
    padding: .3em 1em;

    text-decoration: underline ;
}

.tab1:hover{
    background-color: #b0b4be;
    color: #414f6b;
}

.tab1:active{
    background-color: #b0b4be;
    color: #414f6b;
}

.selected{
    background-color: #b0b4be;
    color: #414f6b;
}

.tab2{
    color: #b0b4be;
    padding: .3em  1em;
    border: red solid 2px;
}

.tab2:hover{
    background-color: #b0b4be;
    color: #414f6b;
}

.tab2:active{
    background-color: #b0b4be;
    color: #414f6b;
}

.tabContent{
    /* position: relative; */
    /* border: cyan 2px solid; */
}

.contentTab1Container{
    position: relative;
    display: none;
}

.contentTab1Container > img{
    width: 100%;
    height: 100%;
    /* border: red 2px solid; */
}

.textContentContainer{
    top:0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    position:absolute;
    display: flex;
    /* justify-content: center; */
    /* border: black 2px solid; */
    width: 60%;
}
.textContent{
    margin-top: 6em;
    margin-left: 2em;
    /* margin-left: 10em; */
    /* align-self: center; */
    /* position:absolute; */
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
    padding: 1.6em 2em;
    backface-visibility: 70%;
}

.schedule{
    font-size: 2.2em;
    font-family: 'Oswald', sans-serif;
    color: #414f6b;
    font-weight: bold;
    /* border: red solid 2px; */
}

.scheduleDates{
    display: flex;
    /* border: yellow 1px solid; */
    justify-content: center;
    justify-content: space-between;
    padding-top: 1em;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    /* gap: 1em; */
}

.contentTab2Container{
    position: relative;
    /* display: none; */
    /* border: ; */
}

.contentTab2Container > img{
    width: 100%;
    height: 100%;
    /* border: red 2px solid; */
}



/* end of team section */

/* start of footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #414f6b;
}

.footer{
    /* border: 2px red solid; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-self: center;
    width: 60%;
    color: #63769d;
    padding: .5em 0em;
}

.footer > .logoWrapper > #logo{
    border-radius: 50%;
    background-color: #63769d;
}

.footer > .logoWrapper > #logo > img{
    /* border: 2px red solid; */
    border-radius: 50%;
    /* border: green solid 2px; */
    /* background-color: #63769d; */
    /* background-blend-mode: multiply; */
    mix-blend-mode: multiply;
}

.footer > .logoWrapper > .logoText > #upperText{
    color: #63769d;
}

.footer > .logoWrapper > .logoText > #lowerText{
    color: #63769d;
}

.footerText{
    color: #63769d;
    font-family: "Lato" , sans-serif;
    font-style: italic;
    /* border: red 2px solid; */
    display: flex;
    align-self: center;
    letter-spacing: .1em;
    font-size: .9em;
    /* justify-content: center; */

}
/* end of footer */